Flask==2.3.3
Flask-Cors==4.0.0
flask-paginate==2023.10.24
pandas==2.2.0
numpy==1.26.4
tensorflow==2.16.1
scikit-learn==1.4.1.post1
matplotlib==3.8.3
Flask==2.3.3
Flask-Cors==4.0.0
flask-paginate==2023.10.24
pandas==2.2.0
numpy==1.26.4
tensorflow==2.16.1
scikit-learn==1.4.1.post1
matplotlib==3.8.3
