<!DOCTYPE html>
<html>
<head>
    <title>Help</title>
</head>
<body>
    <h1>ProjectNHS Guide</h1>
    <p>This is a website for a critical care unit to view patients, add patients as well as export details. Information displayed on this website is strictly confidential and must not be shared without consent. Using this website means you agree to all terms and conditions.</p>
    <ul>
        <li>Dashboard:</li>
        <p>Dashboard provides an overview of key metrics and insights related to patient data.</p>
        
        <li>Patients:</li>
        <p>Patients section allows you to view detailed information about patients, including their refferal status. You can choose to sort the display as preffered as well as view individual patient details.</p>
        
        <li>Add Patients:</li>
        <p>Add Patients feature enables healthcare professionals to input new patient data into the system, facilitating seamless record-keeping and management. New data will be added to the existing dataset. Files uploaded must be in "Comma Separated Values (.csv)" format.</p>
        
        <li>Analytics:</li>
        <p>Analytics section offers in-depth analysis and visualization of patient data, helping healthcare providers make informed decisions and improve patient care.</p>
        
        <li>Updates:</li>
        <p>Updates section provides real-time notifications and announcements about important developments and changes in the system or procedures.</p>
    
    </ul>
</body>
</html>
