<!DOCTYPE html>
<html>

<head>
    <title>Patient List</title>
    <style>
        th, td {
            border: 1px solid black;
            word-wrap: break-word;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            table-layout: fixed;
        }

        .referred {
            color: red;  /*make it better in the future*/
        }

    </style>

</head>
<body>
    <a href="{{ url_for('index') }}">Homepage</a>
    <a href="{{ url_for('viewpatient') }}">View patient data</a>
    <a href="{{ url_for('upload') }}">Upload patient data</a>
    
    <h2>Patient list</h2>
    <form action="{{ url_for('viewpatient') }}" method="post">
        <label for="referralFilter">Filter by Referral:</label>
        <select id="referralFilter" name="referralFilter">
            <option value="All" selected>All</option>
            <option value="Referred">Referred</option>
            <option value="Not Referred">Not Referred</option>
        </select>
        <button type="submit">Apply Filter</button>
    </form>

    <table border="1">
        <tr>
            <th>encounterId</th>
            <th>end_tidal_co2</th>
            <th>feed_vol</th>
            <th>feed_vol_adm</th>
            <th>fio2</th>
            <th>fio2_ratio</th>
            <th>insp_time</th>
            <th>oxygen_flow_rate</th>
            <th>peep</th>
            <th>pip</th>
            <th>resp_rate</th>
            <th>sip</th>
            <th>tidal_vol</th>
            <th>tidal_vol_actual</th>
            <th>tidal_vol_kg</th>
            <th>tidal_vol_spon</th>
            <th>bmi</th>
            <th>referral</th>
        </tr>

        {% for row in datarows %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
            <td>{{ row[6] }}</td>
            <td>{{ row[7] }}</td>
            <td>{{ row[8] }}</td>
            <td>{{ row[9] }}</td>
            <td>{{ row[10] }}</td>
            <td>{{ row[11] }}</td>
            <td>{{ row[12] }}</td>
            <td>{{ row[13] }}</td>
            <td>{{ row[14] }}</td>
            <td>{{ row[15] }}</td>
            <td>{{ row[16] }}</td>
            <td class="{% if row[17] == 'Referred' %}referred{% endif %}">{{ row[17] }}</td>
        </tr>
        {% endfor %}
    </table>

</body>

</html>
